.post-image{
    width:300px !important;
    height:300px !important;
}
.post-item{
    height:200px;
    border:1px solid white;
    border-radius:5px;
    width: 90vw;
    margin:auto;
    padding:20px;
    margin:20px;
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    gap:20px;
    overflow: hidden; 
    word-wrap: break-word;     
    text-overflow: ellipsis;
    text-align: left;

}
.post-item p, h1{
    padding:0px;
    margin:0px;
}
